<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quibusdam architecto quaerat quas facere quidem asperiores odit fuga explicabo, aperiam laborum excepturi magnam saepe nisi blanditiis veniam, aliquam nihil dolore. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque a velit iste. Blanditiis, exercitationem sapiente porro sed esse sit deserunt! Facere autem praesentium quis et animi, ea ad. Perspiciatis, eius! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Tenetur ducimus odit quasi dolor aliquam doloribus repellendus neque a quas sapiente. Libero debitis magnam inventore, facere eum sed quo id deserunt.
</p>